{% load static %}

<head>

        <title>First Article</title>
      
        <meta name="Description" content="A description.">
      
        <meta charset="utf-8">
      

</head>

<body>
    <p class="prose">
            But from the start, au pairs spent nearly all their time doing chores. Decades later, with nearly 100,000 au pairs having participated in the program, little has changed. As investigations from Politico and the International Labor Recruitment Working Group demonstrate, au pairs are an exploited and vulnerable population. Many au pairs say they are expected to be on call 24-7, with little time for classes or studying. They are often saddled with household chores (on top of childcare) that run the gamut from cooking and cleaning to gardening and moving furniture.

            Thousands of au pairs have reported sexual harassment, verbal and physical abuse, and isolation. But instead of assistance, many have seen their contracts terminated, have been shuffled to other host families, or, fearing disqualification from access to a US visa in the future, have been pressured into silence by their agency handler.
            
            Both the State Department and the au pair agencies, who earn huge fees facilitating the program, are well aware of these problems. Yet agencies have worked tirelessly to maintain the program as is, lobbying Congress to keep it in place despite trenchant criticisms from elected officials such as Bernie Sanders, workers’ rights groups, and au pairs themselves.    </p>

    
</body>