{% load static %}

<head>

        <title>First Article</title>
      
        <meta name="Description" content="A description.">
      
        <meta charset="utf-8">
      

</head>

<body>
    <p class="prose">
            TELL ME, HAS IT EVER HAPPENED TO YOU? It’s 2010, and you’re a Wharton MBA student just struggling to get by. You wake up late for class, and it isn’t the first time. For your entire life, you have slept on inadequate mattresses you were pressured into buying at one of those borderline-criminal cartels they call mattress stores. You’ve barely slept in years. Then you reach for your glasses, but—ugh—they’re last year’s style! So, you toss them in the trash. You slip in some contact lenses instead, but you’re annoyed because they’re too high-quality, expensive, and last too long. You have to wait a month before you can throw them away, which is a drag. Getting ready to shave, you realize that you haven’t changed your blade in months, but you’d rather kill yourself than go to the drugstore to buy new razors, so you suffer through.

            When you finally make it to class, your fuddy-duddy professor is giving a lecture about how impossible it is to break into markets with long-established brands. “None of you will ever become rich, powerful business people,” he says, “you shouldn’t even try.” You intuit that he’s wrong, because you are a problem-solver, well-connected, and/or wealthy. Huge, swollen piles of time and capital lay in your future, ready to be shoveled at any problem that comes your way.
            
            Walking from class, you see your friend Tina jetting off to meet her dad in Jackson Hole with a rolling suitcase. “Where’d you get that suitcase?” you ask. “From a store,” she says foolishly. “You mean you didn’t buy it directly from a lifestyle brand on the internet?” you say incredulously. “It doesn’t charge your phone, or anything?” “No, it doesn’t” she says. “Wow,” you reply, forward-thinkingly.
            
            If that story sounds familiar, then you might be a subject in Lawrence Ingrassia’s new book Billion Dollar Brand Club: How Dollar Shave Club, Warby Parker, and Other Disruptors Are Remaking What We Buy. Ingrassia, a former business editor at the New York Times, presents the pulse-deadening chronicle of a group of millennial businesspeople who managed to squeeze their way into the top echelons of the monied classes, all while leaving the lives of consumers almost completely unchanged or worse off than before.
            
            Take Dollar Shave Club for example, the leading case study in Billion Dollar Brand Club. Michael Dubin, a graduate of the Haverford School and Emory University, was a serial entrepreneur who couldn’t do anything right. All of his business ideas failed. (Dubin’s mother later told a journalist about a corner in her basement where she kept “a number of things that we have bought and he made me invest in that he thought would be very successful businesses . . . they weren’t.”) He was unemployed after getting laid off from a dead-end marketing job at Sports Illustrated Kids, until he met a friend’s dad at a party in Beverly Hills. This dad owned a warehouse full of unsold products, including a cache of cheap disposable razors. Would Dubin be interested in selling this inventory of blades?    </p>

    
</body>